# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof
*.rpm
*.iml
.idea

*.out
*.log
*.tar.gz
src/servant/server/sql_drivers.go
bin
gopkg.in/
github.com/
rpmbuild/

go.sum
pkg/server/sql_drivers.go

